In [ ]:
Task 1 

Given a sequence of n values [x1, x2... xn]. The kth moving avarge of given sequence is defined as following: Total values in output will array of size n - k + 1 Every individual output value will be (sum of first kth values)/k For next value, it will increment to next element (sum of kth values from 2nd value)/k

In [3]:
import numpy as np
n = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
k = 4
npArray1 = np.array(n)

In [4]:
def movingAverage(array1, AverageSize):
    size = array1.shape[0]-AverageSize
    emptyArray1 = np.empty(size)
    
    for i in range(size):
        emptyArray1[i] = npArray1[i:i+AverageSize].sum()
    return emptyArray1

In [5]:

movingAverage(npArray1, k)

array([100., 140., 180., 220., 260., 300.])

In [6]:
print('Output for testing purpose: ')
npArray12 = np.array([3,5,7,2,8,10,11,65,72,81,99,100,150])
movingAverage(npArray12, 3)

Output for testing purpose:

array([ 60.,  90., 120., 150., 180., 210., 240., 270., 190., 100.])

In [ ]:
Task 2 - 1 

How to count distance to the previous zero For each value, count the difference back to the previous zero (or start of the index, whichever is closer)

In [7]:
import pandas as pd

In [8]:
x = pd.DataFrame({"X": [7,2,0,3,4,2,5,0,3,4]})
x.shape

(10, 1)

In [9]:
temp = 0
x['Y'] = 0

for k in x.index:
    if x['X'].loc[k]==0:
        x['Y'].loc[k] = 0
        temp = k
    else:
        x['Y'].loc[k] = k - temp

print("Input column is X and output or nearest zero is in Y column")
x

Input column is X and output or nearest zero is in Y column

   X  Y
0  7  0
1  2  1
2  0  0
3  3  1
4  4  2
5  2  3
6  5  4
7  0  0
8  3  1
9  4  2

In [ ]:
Task 2 - 2 

Create a date time index that contains each business day of 2015 and use it to index a Series of random numbers.

In [11]:

import pandas as pd
import numpy as np

In [12]:

varSeries = pd.DataFrame()
varNoOfDays = np.arange(0,365,1)
temp = pd.to_datetime(varNoOfDays, unit='d', origin = pd.Timestamp('01/Jan/2015'))
varSeries['DateTime'] = temp
varSeries['Month'] = temp.month
varSeries['Quarter'] = temp.quarter
varSeries['NOofDays'] = varNoOfDays

In [13]:
varSeries['IsBusinessday'] = temp.weekday.values
varSeries2 = varSeries[(varSeries.IsBusinessday != 6) & (varSeries.IsBusinessday != 5)]

In [14]:
varSeries2.rename(index=str, columns={'NOofDays': 'RandomNo'}, inplace=True)
varSeries2.set_index('DateTime',inplace=True)
varSeries2['RandomNo'] = np.random.randint(1,999,size=varSeries2.shape[0]) 
varSeries2.describe

C:\Users\HP\Anaconda3\lib\site-packages\pandas\core\frame.py:3781: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)
C:\Users\HP\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

<bound method NDFrame.describe of             Month  Quarter  RandomNo  IsBusinessday
DateTime
2015-01-01      1        1       222              3
2015-01-02      1        1       484              4
2015-01-05      1        1       521              0
2015-01-06      1        1       695              1
2015-01-07      1        1       263              2
2015-01-08      1        1       841              3
2015-01-09      1        1       102              4
2015-01-12      1        1       737              0
2015-01-13      1        1       299              1
2015-01-14      1        1        85              2
2015-01-15      1        1       666              3
2015-01-16      1        1       122              4
2015-01-19      1        1       850              0
2015-01-20      1        1       180              1
2015-01-21      1        1       699              2
2015-01-22      1        1       688              3
2015-01-23      1        1         4              4
2015-01-26      1        1       212              0
2015-01-27      1        1       678              1
2015-01-28      1        1        85              2
2015-01-29      1        1       704              3
2015-01-30      1        1       655              4
2015-02-02      2        1       238              0
2015-02-03      2        1       189              1
2015-02-04      2        1       225              2
2015-02-05      2        1       700              3
2015-02-06      2        1       193              4
2015-02-09      2        1       579              0
2015-02-10      2        1       927              1
2015-02-11      2        1       166              2
...           ...      ...       ...            ...
2015-11-20     11        4       822              4
2015-11-23     11        4       105              0
2015-11-24     11        4       155              1
2015-11-25     11        4       585              2
2015-11-26     11        4       283              3
2015-11-27     11        4       877              4
2015-11-30     11        4        82              0
2015-12-01     12        4       837              1
2015-12-02     12        4       550              2
2015-12-03     12        4       522              3
2015-12-04     12        4       867              4
2015-12-07     12        4       299              0
2015-12-08     12        4       377              1
2015-12-09     12        4       554              2
2015-12-10     12        4       475              3
2015-12-11     12        4       636              4
2015-12-14     12        4       309              0
2015-12-15     12        4       262              1
2015-12-16     12        4       300              2
2015-12-17     12        4       753              3
2015-12-18     12        4        24              4
2015-12-21     12        4       357              0
2015-12-22     12        4        49              1
2015-12-23     12        4        87              2
2015-12-24     12        4       335              3
2015-12-25     12        4       842              4
2015-12-28     12        4        27              0
2015-12-29     12        4       209              1
2015-12-30     12        4       543              2
2015-12-31     12        4       569              3

[261 rows x 4 columns]>

In [15]:
Task 2 - 3 
Find sum of the values in series for every 'Wednesday

SyntaxError: invalid syntax (<ipython-input-15-9a83eb755a71>, line 1)

In [16]:
wedSum = varSeries2[varSeries2.IsBusinessday == 2].RandomNo.sum()
wedSum

21267

In [ ]:
Task 2 - 4 
Average for each calendar month

In [17]:
for i in varSeries2.Month.unique():
    print('Sum of random values in a {}th month is {}'.format(i,varSeries2[varSeries2.Month == i].RandomNo.sum()))

Sum of random values in a 1th month is 9792
Sum of random values in a 2th month is 9833
Sum of random values in a 3th month is 11779
Sum of random values in a 4th month is 11838
Sum of random values in a 5th month is 10071
Sum of random values in a 6th month is 10411
Sum of random values in a 7th month is 10770
Sum of random values in a 8th month is 10464
Sum of random values in a 9th month is 15459
Sum of random values in a 10th month is 11323
Sum of random values in a 11th month is 7602
Sum of random values in a 12th month is 9783

In [ ]:
Task 2 - 5 For each group of four consecutive calendar months in series, find the date on which the highest value occured

In [18]:
for i in varSeries2.Quarter.unique():
    print('Sum of random values in a {}th Quarter is {}'.format(i,varSeries2[varSeries2.Quarter == i].RandomNo.sum()))

Sum of random values in a 1th Quarter is 31404
Sum of random values in a 2th Quarter is 32320
Sum of random values in a 3th Quarter is 36693
Sum of random values in a 4th Quarter is 28708